{% extends "super.html" %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="/static/loading.js"></script>
	<script type="text/javascript">
		var outputName = "{{ outputName }}"
		listen(outputName)
	</script>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12" id='loading'>
			The forms are being generated.
		</div>
	</div>
{% endblock %}