{% extends "super.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
	<form class="form-horizontal" enctype="multipart/form-data"  role="form" action="/new" method="post">
		<div class="row">
			<div class="col-sm-12">
				In the input choose a bpm file and fill in a name in output.
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2" for="Input">
					Input file:<br>	
					Output name:
				</label>
				<div class="col-sm-10" id="Input">
					<input type="file" name="bpmnfile" accept=".bpm" required="required">
					<input type="text" name="filename" required="required"><br>
					<input type="Submit" value="Generate Html">
				</div>
			</div>
		</div>
	</form>
{% endblock %}