{% extends "super.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12">
			You have these forms in your output folder:<br>
			<ul class="nav nav-pills nav-stacked">
			{% for file in files %}
				<li role="presentation"><a href="open/{{ file }}">{{ file[:-5] }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}