{% extends "super.html" %}
{% block head %}
{{ super() }}
	<script type="text/javascript" src="/static/openOutput.js"></script>
{% endblock %}
{% block body %}
	<script type="text/javascript">
		showExport();
	</script>
	<div class="embed-responsive embed-responsive-4by3">
 		<iframe class="embed-responsive-item" src="/output/{{ outputFileName }}"></iframe>
	</div>
{% endblock %}