<!DOCTYPE html>
<html>
	<head>
	{% block head %}
		<title>GuiGenerator</title>
		<link rel="stylesheet" href="/static/bootstrap-3.3.6-dist/css/bootstrap.css">
		<script src="/static/jquery-2.2.2.min.js"></script>
		<script src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	{% endblock %}
	</head>
	<body>
		<div class="container" style="max-width:100%">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand">GuiGenerator</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File
			        <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="/new">New</a></li>
			          <li><a href="/open">Open</a></li>
			          <li id='export' hidden="hidden"><a href="/export">Export</a></li>
			        </ul>
			      </li>
			    </ul>
			  </div>
		</nav>
		{% block body %}
		{% endblock %}
		</div>
	</body>
</html>