{% extends "FormsSuper.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
<form class="form-horizontal" role="form" id="form">
	<div class="row">
		<div class="col-sm-12">
			<h2>{{text}}</h2>
		</div>
	</div>
	{% if message != None %}
		<div class="row">
			<div class="col-sm-12">
				There is a incoming message from
				{% if messagelink != None %}
					<a href="{{messagelink}}.html">{{message}}</a>
				{% else %}
					{{message}}
				{% endif %}
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10" align="left">
				<input type="button" class="btn btn-primary" onclick="window.location='{{redirect}}.html'" value="Continue" />
			</div>
		</div>
	</div>
</form>
{% endblock %}