{% extends "FormsSuper.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{{ super() }}
	<script src="static/subProcess.js"></script>
{% endblock %}
{% block body %}
<form  name="end" id="form">
	<div id="row">
		<div class="col-sm-12">
			<h2>{{text}}</h2>
		</div>
	</div>
	{% if message != None %}
		<div class="row">
			<div class="col-sm-12">
				There is a incoming message from
				{% if messagelink != None %}
					<a href="{{messagelink}}.html">{{message}}</a>
				{% else %}
					{{message}}
				{% endif %}
			</div>
		</div>
	{% endif %}
</form>
<div></div>
<script>reachedEnd();</script>
{% endblock %}