<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
        <link rel="stylesheet" href="static/bootstrap.css">
  </head>
  <body>
    <center>
      <div class="container" style="max-width:80%">
        {% block body %}
        {% endblock %}
      </div>
    </center>
  <script>console.log(sessionStorage.resumePoints)</script>
  </body>
</html>