{% extends "FormsSuper.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type = "text/javascript">
		function redirect(frm,nm) {
			for (var i_tem = 0, answer=frm.elements; i_tem < answer.length; i_tem++) {
				if(answer[i_tem].name==nm&&answer[i_tem].checked) {
					frm.action=answer[i_tem].value;
				}
			}
		}
	</script>

{% endblock %}
{% block body %}
	<form action="#" method="post" onSubmit = "redirect(this, 'answer');" class="form-horizontal" role="form" id="form">
		<div class="row">
			<div class="col-sm-12">
				<center><h2> {{header}} </h2></center>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10" align="left" id="radio-container">
					{% for answer,redirect in answers %}
					<div class="radio">
						<label for="radio{{answer}}">
							<input type='radio' name='answer' value='{{redirect}}.html' id="radio{{answer}}">
							{{answer}}
						</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10" align="left">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}