{% extends "FormsSuper.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
<form class="form-horizontal" role="form" id="form">
	<div class="row">
		<div class="col-sm-12">
			<center><h2>{{text}}</h2></center>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			A message is send to 
			{% if messagelink != None %}
				<a href="{{messagelink}}.html">{{message}}</a>
			{% else %}
				{{message}}
			{% endif %}
		</div>
	</div>
	{% if redirect != None %}
		<div class="row">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10" align="left">
					<input type="button" class="btn btn-primary" onclick="window.location='{{redirect}}.html'" value="Continue" />
				</div>
			</div>
		</div>
	{% endif %}
</form>
{% endblock %}