{% extends "FormsSuper.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{{ super() }}
	<script src="static/paralelProcess.js"></script>
{% endblock %}
{% block body %}
	<form class="form-horizontal" role="form" id="form">
		<div class="row">
			<div class="col-sm-12">
				<h2>Paralel Process: {{text}}</h2>
			</div>
		</div>
        {% for branch in paralelBranches %}
            <div class="row">
                <div class="col-sm-12">
                	<div class="embed-responsive embed-responsive-16by9">
                    	<iframe class="embed-responsive-item" src="{{branch}}.html" name="{{branch}}"></iframe>
                	</div>
                </div>
            </div>
        {% endfor %}
	</form>
	<script>
		addIFrameListener();
      	reloadiFrames();
      	branchCount = {{paralelBranches|length}};
	</script>
{% endblock %}