{% extends "FormsSuper.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type = "text/javascript">
		function inIframe () {
			return window.frameElement;
		}
		function show() {
			if (inIframe) {
			    console.log('finished branch');
				parent.postMessage("end {{redirect}}",'*');
			}
		}
		window.onload = show();
		</script>
{% endblock %}
{% block body %}
<form  name="end" id="form">
	<div id="row">
		<div class="col-sm-12">
			<h2>Parallel branch end {{text}}</h2>
		</div>
	</div>
</form>
{% endblock %}