<!DOCTYPE html>
<html>
  <head>
  <title>{{title}}</title>
  <script type="text/javascript">
	window.location="./{{filename}}/{{start_form_name}}.html"
	sessionStorage.resumePoints = '';
  </script>
  </head>
  <body>
  </body>
</html>