{% extends "FormsSuper.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{{ super() }}
	<script src="static/subProcess.js"></script>
{% endblock %}
{% block body %}
	<form class="form-horizontal" role="form" id="form">
		<div class="row">
			<div class="col-sm-12">
				<h2>Subprocess: {{text}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10" align="left">
					<input type="button" onclick="window.location='{{subredirect}}.html'" value="Continue"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10" align="left">
					<input type="button" onclick="getLastPoint();window.location='{{redirect}}.html'" value="Skip Subprocess"/>
				</div>
			</div>
		</div>
	</form>
<div name="subProcess" id="{{redirect}}"></div>
<script>handleSubProcess();</script>
{% endblock %}