<!DOCTYPE html>
<html>
  <head>
  <title>{{title}}</title>
        <link rel="stylesheet" href="{{filename}}/static/bootstrap.css">
  </head>
  <body>
	<center>
        <div class="container" style="max-width:50%">
            {%for start_form_id, start_form_description in starts%}
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10" align="left">
                    <input type="button" onclick="window.location='./{{filename}}/{{start_form_id}}.html'" value="{{start_form_description}}" /><br>
                </div>
            </div>
            {%endfor%}
        </div>
	</center>
    <script>sessionStorage.resumePoints = '';</script>
  </body>
</html>